/* wallet-new-password-panel.css */
.enterNewPassword {
  color: white;
}

#toggleNewPasswordVisibility {
  cursor: pointer;
  color: #00c853;
  margin-top: 0.5em;
  text-align: center;
  font-weight: 600;
  caret-color: transparent;
}

#toggleNewPasswordVisibility:hover {
  font-weight: 800;
  color: #00e676;
}

.strength-wrapper {
  margin-top: 1em;
}

.toggle-label {
  font-size: 16px;
  user-select: none;
  color: white;
}

#passwordHelpLink {
  color: #00c853;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

#passwordHelpLink:hover {
  color: #00e676;
  font-weight: 800;
  text-decoration: underline;
}

/* PBKDF2 Iteration Slider */
.slider-container {
  margin-top: 1em;
  width: 100%;
  color: white; /* label text white */
}

#iterationSlider {
  width: 100%; /* full width */
  margin-top: 0.5em;
}
#iterationLabel {
  font-weight: 600;
  color: white;
  margin-left: 0.5em;
}

