#enterPassword {
  color: white;
}

#toggleMainPasswordVisibility {
  cursor: pointer;
  /*color: #4caf50;*/
  color: #00c853;
  margin-top: 0.5em;
  text-align: center;
  font-weight: 600;
  caret-color: transparent;
}

#toggleMainPasswordVisibility:hover {
  font-weight: 800;
  cursor: pointer;
  color: #00e676; /* brighter green */
}

